---
---

@import "{{ site.theme }}";

h1,h2,h3,h4,h5,h6 {
 color: white !important;
 text-shadow: none !important;
}

h1::before {
 visibility: hidden;
}

header {
 border-bottom: 2px dashed white;
}

header h2 {
 color: #ffd56d !important;
 margin-top: 10px;
}

a {
 color: white !important;
 text-shadow: none !important;
}

blockquote {
 color: #ffd56d
 border-left: none;
 padding-left: 0px;
 margin-inline-end: 0px;
}
